<!DOCTYPE html>

<title>Attribut index</title>

{% block body %}
    <h1>Attribut index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Key</th>
                <th>Value</th>
                <th>Id</th>
                <th>DateCreate</th>
                <th>DateUpdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attribut in attributs %}
            <tr>
                <td>{{ attribut.name }}</td>
                <td>{{ attribut.key }}</td>
                <td>{{ attribut.value }}</td>
                <td>{{ attribut.id }}</td>
                <td>{{ attribut.dateCreate ? attribut.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ attribut.dateUpdate ? attribut.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('attribut_show', {'id': attribut.id}) }}">show</a>
                    <a href="{{ path('attribut_edit', {'id': attribut.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('attribut_new') }}">Create new</a>
{% endblock %}
