<!DOCTYPE html>

<title>Attribut</title>

{% block body %}
    <h1>Attribut</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ attribut.name }}</td>
            </tr>
            <tr>
                <th>Key</th>
                <td>{{ attribut.key }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ attribut.value }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ attribut.id }}</td>
            </tr>
            <tr>
                <th>DateCreate</th>
                <td>{{ attribut.dateCreate ? attribut.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateUpdate</th>
                <td>{{ attribut.dateUpdate ? attribut.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('attribut_index') }}">back to list</a>

    <a href="{{ path('attribut_edit', {'id': attribut.id}) }}">edit</a>

    {{ include('attribut/_delete_form.html.twig') }}
{% endblock %}
